@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body {
  height: 100vh;
  background: linear-gradient(135deg, #011746, #0e41ae, #467bff);
}
.container {
    width: 40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 30px 40px;
}

.newTask {
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

input {
    width:  70%;
    height: 45px;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    font-weight: 500;
    position: relative;
    color: #000;
    border-radius: 5px;
}

input:focus{
    outline: none;
    border-color: #0e41ae;
}

button {
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #0e41ae;
}

.tasks {
    background-color: #fff;
    padding: 30px 20px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    position: relative;
}

.task {
    padding: 5px 10px;
    height: 50px;
    align-items: center;
    margin-top: 10px;
    border-bottom: 1px solid #d1d3d4;
}

.completed {
    text-decoration: line-through;
}